li{
    display: inline;
}
h2{
    text-align: center  ;
}

#kep{
    border: 3px solid midnightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

p{
    text-align: center;
    margin: auto;
}
h5{
    text-align: center;
}

.card{
    border: 1.5px solid black;
}

#igen{
    color: purple
}